body{
  margin:0;
  font-family:'Bai Jamjuree', sans-serif;
  font-size: 18px;
  text-align: center;
}
/*Header*/
.header{
  text-align: center;
}
.container-header{
  margin-bottom: -5rem;
}
.background{
  width:100%;
}
.header-stuff{
  position: relative;
  bottom:15rem;
}
.text-header{
  padding: 1.5rem 0;
}
.btn-header{
  padding-top: 1rem;
}
h1{
  font-weight: 600;
  color: hsl(210, 10%, 33%);
  font-size: 50px;
}
p{
  color: hsl(201, 11%, 66%);
}
.header a{
  text-decoration: none;
  color: white;
  line-height: 2.5;
  padding: 1rem 2.5rem;
  border-radius: 25px;
  box-shadow: 1px 1px 1px 1px hsl(201, 11%, 66%);

}
.btn-ios{
  background-color: hsl(171, 66%, 44%);
  margin-right: 0.5rem;
}
.btn-mac{
  background-color: hsl(233, 100%, 69%);
  margin-left: 0.5rem;
}
/*Session 1*/
.keep-track{
  margin-bottom: 5rem;
}
.list-computer{
  list-style-type: none;
  text-align: left;
  max-width: 50%;
}
.computer-img{
  width:70%;
  margin-left: 5rem;
}
h2{
  font-size: 35px;
  font-weight: 600;
  color:hsl(210, 10%, 33%);
  padding-bottom: 1rem;
}
h3{
  font-weight: 600;
  color:hsl(210, 10%, 33%);
  font-size: 25px;
}

/*Session 2*/
.devices{
  margin-top:10rem;
}
.devices-img{
  margin-top: 3rem;
  width: 60%;
}

/*Session 3*/
svg{
  margin-top:4rem;
}
.title-supercharge{
  padding: 4rem 0 0 0;
}
.par-supercharge{
  margin-top: 1rem;
}

/*Session 3*/
.brands{
  margin: 15rem 0;
}
/*Session 4*/
.clipboard{
  margin-bottom: 15rem;
}
.clipboard a{
  text-decoration: none;
  color: white;
  line-height: 2.5;
  padding: 1rem 2.5rem;
  border-radius: 25px;
  box-shadow: 1px 1px 1px 1px hsl(201, 11%, 66%);
}
/*Footer*/
footer{
  background-color: lightgray;
}
.footer-logo{
  width: 5rem;
  height: 5rem;
  margin: 1.5rem 0;
}
.fab:hover{
  color:hsl(171, 66%, 44%);
}
.fab{
  color:hsl(210, 10%, 33%);
  font-size: 2rem;
  margin: 3rem 0;
}
.list-item-btn{
  text-decoration: none;
  color:hsl(210, 10%, 33%);
}
.list-item-btn:hover{
  color:hsl(171, 66%, 44%);
}
.footer-list ul{
  list-style-type: none;
  display: grid;
  text-align: left;
  grid-template-columns: 1fr 1fr 1fr;
}
.footer-list a{
  text-decoration: none;
  color:hsl(210, 10%, 33%);
}
.footer-list:hover{
  color: hsl(171, 66%, 44%);
}
li{
  grid-row: auto;
  margin-top: 1.5rem;
}
i{
  padding: 0 1rem;
}

@media(max-width:375px){

}
